/.HA_VERSION
/.storage*
/*.log
/*.db
/*.sqlite
/*.xml
/*.conf
/*.json
/.homekit.state
/OZW_Log.txt
/motion_detection
/deps
/ip_bans.yaml
/*.pickle
/custom_components/*/__pycache__
/.vscode
/pythonenv*
.nfs*
home-assistant.log.*