/.HA_VERSION
/.storage*
/*.log
/*.db
/*.sqlite
/*.xml
/*.conf
/*.json
!/renovate.json
*.pem
/.homekit.state
/OZW_Log.txt
/motion_detection
/deps
/ip_bans.yaml
/*.pickle
/custom_components/*/__pycache__
/pythonenv*
.nfs*
home-assistant.log.*
automations.yaml
env.dev
template.jinja
